@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;700&display=swap");

:root {
  --main-color-white: #ededed;
  --secondary-color-dark-grey: #2b2b2b;
  --color-gray: #423f3e;
  --color-black: #171010;

  --font-family: "Nunito Sans", sans-serif;
  --font-weight-normal: 400;
  --font-weight-bold: 700;

  --width-1: clamp(64px, 14vw, 72px);
  --width-2: clamp(48px, 12vw, 64px);
  --width-3: clamp(36px, 10vw, 48px);
  --width-4: clamp(24px, 8vw, 36px);
  --width-5: clamp(18px, 6vw, 24px);
  --width-6: clamp(16px, 4vw, 18px);
  --width-7: clamp(14px, 2vw, 16px);
  --width-8: clamp(14px, 2vw, 14px);
}
body.scheme-dark {
  background-color: var(--secondary-color-dark-grey);
  color: var(--main-color-white);
}
body {
  font-family: var(--font-family);
  background-color: var(--main-color-white);
  color: var(--secondary-color-dark-grey);
}
.weight-bold {
  font-weight: var(--font-weight-bold);
}
.weight-normal {
  font-weight: var(--font-weight-normal);
}

h1,
.h1 {
  font-size: var(--width-1);
}
h2,
.h2 {
  font-size: var(--width-2);
}
h3,
.h3 {
  font-size: var(--width-3);
}
h4,
.h4 {
  font-size: var(--width-4);
}
h5,
.h5 {
  font-size: var(--width-5);
}
h6,
.h6 {
  font-size: var(--width-6);
}
p .p {
  font-size: var(--width-8);
}
